<div id="links" class="videoBox">
	<%= link_to "Connect", '#',  	:class => "broadcast_button round", 
												   			:id =>  "connectLink" %> 
	<%= link_to "Broadcast", '#', :class => "broadcast_button round", 
													 			:id => "publishLink" %>
	<%= link_to "Hide", '#',		 	:class => "hide_link", 
													 			:id =>  "unpublishLink" %>

</div>


