<div id="instructions">
	<div class="sectionLabel round">Instructions for Video Chat</div>

	<h3>1) Broadcast Your Camera.</h3>
	<ul>
		<li><%= link_to "Connect", "#", :id => "connectInstructions" %> if not already connected.</li> 
		<li><%= link_to "Broadcast", "#", :id => "publishInstructions" %> your camera.</li>
		<li>Allow permission access to your camera.</li>
	</ul>
		
	<h3>2) Copy SUtalk Link.</h3>
	<div id="sutalkLink2" class="round">
		<%= sutalkLink "sutalk_link_field2" %>
	</div>

	<h3>3) Send SUtalk Link To Friends.</h3>
	<p>Facebook chat messages are the best way to invite friends.</p>

	<h3>4) Video Chat!</h3>
	<p>Video chat will start when your friends arrive at the SUtalk Link.</p>
	<h5>For best results:</h5>
	<ul>
		<li>Use headphones to avoid echo.</li>
		<li>Make sure you have the latest version of Flash Player.</li>
		<li>Close out Skype or any other program that may be using your webcam.</li>
		<li>Use a wired connection if possible.</li>
	</ul>
</div>


