<div id="sutalkVideoBox">
	<div id="subscribersContainer" class="videoBox">
				<!-- Subscribers Go Here -->
		<div id="subscribersStartDiv">
				<div id="myCamera" class="publisherContainer videoBox">
					<!-- Publisher Container -->
				</div>
		</div>
	</div>
</div>