<table id="home_table">
	<tr>
		<td class="left_column">
			<% render 'make_new_friends' %>
		</td>
		<td class="right_column">
			<%= render 'control_tokbox_links' %>
		</td>
	</tr>
	<tr>
		<td id="left_column">
			<%= render 'friend_wall' %>
		</td>
		<td id="right_column">
			<%= render 'video_boxes' %>
			<%= render 'instructions' %>
		</td>
	</tr>
</table>


